<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.goaheadspace.joomlapp"
	version 	= "0.99.9999">

	<name>Joomlapp: A client for the companion Joomla component - Joomlapp API</name>

	<description>
		An app that will act as a client for the Joomla component, which provides an API for a Joomla website
	</description>

	<author href="http://www.goaheadspace.net/web/en.html"
		email="support@goaheadspace.com">
		Andrew Lunny
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<icon src="http://www.goaheadspace.net/joomlapp/images/Joomlapp_logo.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
