{%- assign collection = collections[section.settings.collection] -%}
{%- if collection != blank -%}
  {% if collection.products_count != 0 %}
    <hr>
    <h3 class="h4">{{ 'layout.sidebar.featured_products' | t }}</h3>
    <div class="grid grid--no-gutters grid--uniform">
      {% for product in collection.products limit: 4 %}
        <div class="grid__item medium-up--one-quarter small--one-half">
          {% include 'product-card', product: product %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{%- endif -%}



{% schema %}
{
  "name": {
    "cs": "Propagované produkty",
    "da": "Fremhævede produkter",
    "de": "Vorgestelltes Produkt",
    "en": "Featured products",
    "es": "Productos destacados",
    "fi": "Esittelyssä olevat tuotteet",
    "fr": "Produits en vedette",
    "it": "Prodotti in primo piano",
    "ja": "おすすめ商品",
    "ko": "특별 상품",
    "nb": "Utvalgte produkter",
    "nl": "Uitgelichte producten",
    "pl": "Polecane produkty",
    "pt-BR": "Produtos em destaque",
    "pt-PT": "Produtos em destaque",
    "sv": "Utvalda produkter",
    "th": "สินค้าที่แนะนำ",
    "tr": "Öne çıkan ürünler",
    "vi": "Sản phẩm nổi bật",
    "zh-CN": "特色产品",
    "zh-TW": "精選產品"
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    }
  ]
}
{% endschema %}
