<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.marc.phonegapguide"
        version   = "1.0.0">

    <name>PhoneGap Guide</name>

    <description>
        Guides to learn how to build apps with PhoneGap.
    </description>

    <author href="https://www.ajbnet.n/Mjb" email="marc.j.bouwman@gmail.com">
        Marc inc.
    </author>

    <preference name="permissions"                value="none"/>

    <!-- Preferences for all platforms. -->
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    
    <!-- Preferences for Android only. -->
    <preference name="android-installLocation" value="auto" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="23" />
    <preference name="android-installLocation" value="auto" />
    <preference name="android-build-tool" value="gradle" />

    <!-- App icons for Android & Windows -->
    <icon src="icon.png" />
    <icon src="res/icon/android/icon-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />
    <icon src="res/icon/android/icon-xxhdpi.png"  gap:platform="android"    gap:qualifier="xxhdpi" />
    
    <icon platform="winphone" width="44" height="44" src="res/Square44x44Logo.scale-100.png" />
    <icon platform="winphone" width="106" height="106" src="res/Square44x44Logo.scale-240.png" />
    <icon platform="winphone" width="150" height="150" src="res/Square150x150Logo.scale-100.png" />
    <icon platform="winphone" width="360" height="360" src="res/Square150x150Logo.scale-240.png" />
    <icon platform="winphone" width="71" height="71" src="res/Square71x71Logo.scale-100.png" />
    <icon platform="winphone" width="170" height="170" src="res/Square71x71Logo.scale-240.png" />
    <icon platform="winphone" width="310" height="150" src="res/Wide310x150Logo.scale-100.png" />
    <icon platform="winphone" width="744" height="360" src="res/Wide310x150Logo.scale-240.png" />

    <access origin="*"/>
    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="winphone" />

</widget>
