body
{
    margin: 0px 0px 0px 0px;
}
#headtext
{
	position:absolute;
	left:0;
	top:0;
    height:10%;
    width:100%;
    background-color:#ff8b35;
    font-family: Verdana;
    font-weight:Bold;
    color: white;
    margin: 0 0 0 0;
}

#textdiv
{
	position: absolute;
	width: 100px;
	margin: auto;
}

#text
{
    font-size: 2em;
}

#menu
{
    height: 35px;
	position: absolute;
	left: 15px;
	bottom: 5px;
}

#people
{
    position: absolute;
    height: 35px;
	right: 15px;
	bottom: 5px;
}

html
{
	height: 100%;
	background-color:#eae7e1;
}

.parent{
	position:absolute;
	bottom:0px;
	height:75px;
	width:100%; /*width should be 100%*/
}
.child{
	width:300px; /*min width should give to center the div.*/
	margin:0px auto; /*here it will make center*/
}
