 
 
 .ui-btn-up-e {
border: 1px solid white;
background: red;
font-weight: bold;
color: white;
text-shadow: 0 1px 0 white;
background-image: -webkit-gradient(linear,left top,left bottom,from(black),to(#863937));
background-image: -webkit-linear-gradient(top,black,#863937);
background-image: -moz-linear-gradient(top,black,#863937);
background-image: -ms-linear-gradient(top,black,#863937);
background-image: -o-linear-gradient(top,black,#863937);
background-image: linear-gradient(top,#lack,#863937);
}
 
 
 .ui-btn-hover-a {
	border: 1px solid #454545 /*{a-bhover-border}*/;
	background: #454545 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{a-bhover-color}*/;
	text-shadow:  0  /*{a-bhover-shadow-x}*/  1px  /*{a-bhover-shadow-y}*/  1px  /*{a-bhover-shadow-radius}*/ #444444 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #4B4B4B /*{a-bhover-background-start}*/), to( #3E3E3E /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, red /*{a-bhover-background-start}*/, red /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #4B4B4B /*{a-bhover-background-start}*/, #3E3E3E /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #4B4B4B /*{a-bhover-background-start}*/, #3E3E3E /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(top, #4B4B4B /*{a-bhover-background-start}*/, #3E3E3E /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #4B4B4B /*{a-bhover-background-start}*/, #3E3E3E /*{a-bhover-background-end}*/);
}
 
 
 .ui-bar-a .ui-link:hover {
	color:  black  /*{a-bar-link-hover}*/;
}

 
 
 
.ui-btn-active {
	border: 1px solid #ffb861 /*{global-active-border}*/;
	background: #ffb861 /*{global-active-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{global-active-color}*/;
	cursor: pointer;
	/*text-shadow:  0  /*{global-active-shadow-x}*/  -1px  /*{global-active-shadow-y}*/  1px  /*{global-active-shadow-radius}*/ #eeeeee /*{global-active-shadow-color}*/; 
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( black/*{global-active-background-start}*/), to( #CF8B89 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, black /*{global-active-background-start}*/, #CF8B89 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #FFCA6A /*{global-active-background-start}*/, #E5A557 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #FFCA6A /*{global-active-background-start}*/, #E5A557 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(top, #FFCA6A /*{global-active-background-start}*/, #E5A557 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #FFCA6A /*{global-active-background-start}*/, #E5A557 /*{global-active-background-end}*/);
	      font-family: Helvetica, Arial, sans-serif  /*{global-font-family}*/;
}

 #questionmessage{
 color: #FF4A4A;
 padding-left: 10px;
 padding-right: 10px;
 font-size:12px;
 
 }
 
 
 
 .seekinfo{
color: #ffffff;
text-shadow:5px 4px 3px #000000;
 
 }
 
 .horibg{
	background-image: url("../images/horibg.png");
    background-attachment:fixed;
	background-repeat: repeat;
 
 }
 
 
.normalbg2 {
    background-image: url("../images/normalbg4.png");
    background-attachment:fixed;
	background-repeat: repeat;
	}
 
.normalbg {
    background-image: url("../images/normalbg2.png");
    background-attachment:fixed;
	background-repeat: repeat;
	}

h2, h3, h4 {
 color: #FF9933;
text-shadow:5px 4px 3px #000000;
}
 
 
 p{
 color: #ffffff;
text-shadow:5px 4px 3px #000000;

 
 }
 
 
 
 
#typestyle{
font-family: Geneva, serif;
line-height: 1em;
color: #f0f1f5;
font-size: 61px;
text-shadow:0px 0px 0 rgb(195,196,200),1px 0px 0 rgb(151,152,156),2px 0px 0 rgb(106,107,111),3px 0px 0 rgb(62,63,67),4px 0px 0 rgb(17,18,22), 5px 0px 0 rgb(-28,-27,-23),6px 0px 5px rgba(0,0,0,0.65),6px 0px 1px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,.2);

}
	

h1{
font-family: 'Times New Roman', Times, sans-serif;
line-height: 1em;
color: #ffffff;
font-size: 40px;
text-shadow:0px 0px 0 rgb(171,168,171),1px 0px 0 rgb(139,136,139),2px 0px 0 rgb(107,104,107),3px 0px 0 rgb(75,72,75), 4px 0px 0 rgb(43,40,43),5px 0px 4px rgba(0,0,0,0.8),5px 0px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);

}


.now{
font-family: Geneva, serif;
font-size: 38px;
text-shadow:0px 0px 0 rgb(37,-47,-47),1px 0px 0 rgb(-38,-122,-122),2px 0px 0 rgb(-112,-196,-196), 3px 0px 0 rgb(-186,-270,-270),4px 0px 3px rgba(0,0,0,0.35),4px 0px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);

}



#readmore{
border:groove 4px #000000;
-moz-border-radius-topleft: 43px;
-moz-border-radius-topright:0px;
-moz-border-radius-bottomleft:0px;
-moz-border-radius-bottomright:44px;
-webkit-border-top-left-radius:43px;
-webkit-border-top-right-radius:0px;
-webkit-border-bottom-left-radius:0px;
-webkit-border-bottom-right-radius:44px;
border-top-left-radius:43px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:44px;
background-color: #acadb3;
background-image: url("../images/normalbg5.png");
background-attachment:fixed;
background-repeat: repeat-x;


}
	
	
	
	
#mybox{
background-color: #acadb3;
border:dashed 5px #10143d;
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;
background-image: url("../images/normalbg5.png");
background-attachment:fixed;
background-repeat: repeat-x;
}
	
	
.startimage {
    width:100%;
    height:auto;
	
}





.ui-btn-inner {
padding: .4em 15px;
display: block;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
position: relative;
zoom: 1;
}


#background {
    background-attachment:fixed;
	background-image: url("../images/name.png");
    width: 100%; 
    height: 100%; 
    position: absolute; 
    margin-left: 0px; 
    margin-top: 0px; 
    z-index: 0;
	background-repeat:no-repeat;
}


@media screen and (max-device-width: 480px) {

  

  
}


@media screen and (max-width: 600px) {

  

  



}









