<div class="page-width page-empty text-center">
  <h1>{{ 'general.404.title' | t }}</h1>
  <p>{{ 'general.404.subtext_html' | t }}</p>
  <hr>
  <p>
    <a href="{{ routes.root_url }}" class="btn">{{ 'general.404.404_link' | t }}</a>
  </p>
</div>
