<div class="page-width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="content-block">
    <div class="rte rte--indented-images">
      {{ page.content }}
    </div>
  </div>

  {% section 'featured-products-subsection' %}
</div>
