@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
*{margin: 0; padding: 0; border: 0; outline: 0; font-weight: 300; font-style: inherit; font-family: 'Roboto',sans-serif; vertical-align: baseline; cursor:default; -webkit-tap-highlight-color: rgba(0,0,0, 0); color:#000000; line-height:1.5em; transition: all .25s;}
html, body{position:absolute;top:0px;left:0px;right:0px;bottom:0px;margin:0;padding:0;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
body {line-height: 1.5em; color: #000000; background: #EEEEEE; padding: 0.75em; overflow-y: auto; overflow-x: hidden; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;}
caption, th, td {text-align: left; font-weight: normal;}
:focus {outline: 0; -webkit-tap-highlight-color: rgba(0,0,0, 0);}
table {border-collapse: separate; border-spacing: 0;}
ol, ul {list-style: none;}
img {white-space:nowrap;}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup { top: -0.5em;}
sub { bottom: -0.25em; }
hr {height:1px; border:0.5px solid #000000; background-color:#000000;}
h1, h2, h3, h4, h5, h6{margin-top:1em; margin-bottom:0.5em; font-weight: 300;}
body > h1:first-child {margin-top: 0;} 
body h1:first-child {margin-top: 0;} 
button, input[type="submit"], a, a:link, a:visited {
	line-height:2em;
	border:0;
	border-radius: 2px;
	padding: 0.25em 1.5em;
	margin: 0.25em;
	font-size: 1em;
	outline: 0;
	cursor: pointer;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	background-color:#00AA9A;
	color:#FFFFFF;
	font-family: 'Roboto',sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	word-wrap: normal;
	white-space:nowrap;
}
button:active, input[type="submit"]:active, button:hover, input[type="submit"]:hover, a:link:active, a:visited:active, a:link:hover, a:visited:hover {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	background-color:#009688;
}
input[type="text"], input[type='password'] {
	padding: 0.25em 0.5em;
	margin: 0.5em;
	font-size: 1em;
	outline: 0;
	cursor: text;
    background-color:rgba(0, 0, 0, 0);
	border:0;
	border-bottom:1px solid #9E9E9E;
}
textarea {
	padding: 0.25em 0.5em;
	margin: 0.5em;
	font-size: 1em;
	outline: 0;
	cursor: text;
    background-color:rgba(0, 0, 0, 0);
	border:0;
	border-bottom:1px solid #9E9E9E;
}
input[type="text"]:active, input[type='password']:active, input[type="text"]:hover, input[type='password']:hover, input[type="text"]:focus, input[type='password']:focus {
	border-bottom:1px solid #26A69A;
	box-shadow: 0 1px 0 0 #26A69A;
}
textarea:active, textarea:hover, textarea:focus {
	border-bottom:1px solid #26A69A;
	box-shadow: 0 1px 0 0 #26A69A;
}
.bordered{
	color:#FFFFFF;
	text-shadow:2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.fab{
	border:0;
	border-radius: 50%;
	padding: 0.5em;
	margin: 0.5em;
	width: 4.75em;
	height: 4.75em;
	font-size: 1em;
	outline: 0;
	cursor: pointer;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	background-color:#00AA9A;
	color:#FFFFFF;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	z-index: 10 !important;
}
.fab:active, .fab:hover{
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	background-color:#009688;
}
input[type=checkbox] {
	width: 2em;
	height: 2em;
	border:0;
	border-radius:2px;
	padding: 0.5em 2.5em;
	margin: 0.25em 0.5em;
	outline: 0;
	cursor: pointer;
	vertical-align:bottom;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table{
	min-width: 750px;
}
.tableparent{
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
}
th, td {
    padding: 0.5em;
	text-align: center;
}
td {
    font-weight: 300;
}
th{
    font-weight: 500;
}
ol{
	list-style: decimal outside none;
	list-style-type: decimal;
	list-style-position:outside;
}
ul li:before {
    content: "●";
    padding-right: 1em;
    color: black;
}
.card{
	padding:1em;
	background-color:#FFFFFF;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
	border-radius:2px;
	width:100%;
	max-width:50em;
	margin-top: 1em;
	margin-bottom: 1em;
}
@media screen and (max-width:54em) {
	.card{
		padding-left:2px;
		padding-right:0;
	}
}
.card:hover{
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}