/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
html,
body {
    height:100%;
    font-size:12px;
    width:100%;
}

body {
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    text-transform:uppercase;
}

/* portrait layout for the app (default) */
.app {
    background:url(../img/logo.png) no-repeat;
    position:absolute;
    left:50%;
    top:50%;
    margin:-120px 0 0 -110px;       /* shift container to top-left by half its width and height */
    background-position:center top;
    height:100px;                   /* add enough room for text */
    padding:180px 0px 0px 0px;      /* background-image height - image's shadow */
    text-align:center;
}

/* lanscape layout for the app (when wide enough) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:445px) {
    .app {
        background-position:left center;
        height:140px;             /* height + padding = background image size */
        padding-left:170px;       /* background width */
        padding-top:60px;         /* vertically center the text to background image */
        margin:-90px 0 0 -200px;  /* shift container to top left by half its width and height */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.status {
    background-color:#333333;
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 20px;
    padding:2px 20px;
}

.status.complete {
    background-color:#4B946A;
}

.hide {
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
