/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html
{
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height:100%;
}

body
{
    font-family: sans-serif, Arial, Segoe UI;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height:100%;
    padding: 0px 0px 0px 0px;
    overflow:hidden;
    
}


.header
{
    position:absolute;
    top: 0px;
    left:24px;
    width:88%;
    height:50px;
    border:none;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#656364;
    color: #639ecd;
   
}


.line
{
    position:absolute;
    top: 60px;
    left:0px;
    height:50px;
    border:none;
    margin-left:10px;
    padding-top:10px;
    margin-bottom:10px;
    color: black;
   
}


/*content*/
.content
{
    
    
    /*
    min-height:80%;
    height:80%;
    overflow:hidden;
    */
    position:absolute;
    top: 100px;
    left:0px;
    width:95%;
    height:70%;
    border:none;
    margin-left:10px;
    padding-top:10px;
    margin-bottom:0px;
    color: black;
    background-color:#656565;
}
    


/*footer*/
.footer
{
    position:absolute;
    bottom:0px;
    left:0px;
    margin-left:10px;
    margin-bottom:0px;
    /*padding-top:0px;*/
}


.circular {
	position:absolute;
	left:10px;
	top:10px;
	width: 49px;
	height: 49px;
	border-radius: 100%;
	border:1px solid black;
	z-index:100;
	}
	
.circular2 {
	width: 49px;
	height: 49px;
	border-radius: 100%;
	background-color:#656364;
	border:0px solid black;
	z-index:100;
	}
