/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html
{
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height:100%;
}

body
{
    font-family: sans-serif, Arial, Segoe UI;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height:100%;
    padding: 0px 0px 0px 0px;
    overflow:hidden;
    
}


/*header*/
.header
{
    position:absolute;
    top: 0px;
    left:0px;
    width:95%;
    height:50px;
    border:none;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#656364;
    color: #639ecd;
   
}


.line
{
    position:absolute;
    top: 60px;
    left:0px;
    height:50px;
    border:none;
    margin-left:10px;
    padding-top:10px;
    margin-bottom:10px;
    color: black;
   
}


/*content*/
.content
{
    
    
    /*
    min-height:80%;
    height:80%;
    overflow:hidden;
    */
    position:absolute;
    top: 90px;
    left:0px;
    width:95%;
    height:70%;
    border:none;
    margin-left:10px;
    padding-top:10px;
    margin-bottom:10px;
    color: black;
    background-color:#656565;
}
    


/*footer*/
.footer
{
    position:fixed;
    bottom:0px;
    left:0px;
    width:95%;
    height: 75px;
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;
    padding-top:20px;
    background-color:#656364;
    box-shadow: inset 0px 1px 7px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0px 1px 7px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 7px 0px rgba(0,0,0,0.5);
}



/* landscape */
@media screen and (orientation:landscape) {
        .button.dh {
        height:32px;
        width:220px;
    }
}



