html {
    height: 100%;
}

body {
    font-family: source-sans-pro, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.header {
    background: #666;
    -webkit-background-size: 1px 44px;
    -moz-background-size: 1px 44px;
    -ms-background-size: 1px 44px;
    -o-background-size: 1px 44px;
    background-size: 1px 44px;
    height: 44px;
    line-height: 44px;
    width: 100%;
    color: #fff;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    border-bottom: solid 1px #eee;
}

.header h1 {
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.header-button {
    position: absolute;
    top: 6;
    padding: 7px 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1em;
}

.header-button-left {
    left: 4;
}

.search-bar {
    background: #ccc;
    height: 32px;
    padding-left:6px;
    padding-right: 6px;
    padding-top: 6px;
    margin-bottom: 6px;
    border-bottom: solid 1px #666;
}

input[type="search"] {
    width:100%;
	border: none;
	border-radius: 4px;
	padding: 4px 0px 2px 2px;
	margin-top: 0px;
	font-size: 16px;
	box-shadow: inset 0 2px 2px rgba(0,0,0,.5), 0 1px #fff;
	background: #eee;
    -webkit-appearance:none;
}

input[type="search"]:focus {
	outline: none;
	box-shadow: inset 0 4px 8px rgba(0,0,0,.5), 0 1px #fff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fafafa;
    border-bottom: 1px solid #e0e0e0;
}

li {
    display: block;
    border-top: 1px solid #c0c0c0;
    padding: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

li {
    display: block;
    border-top: 1px solid #e0e0e0;
    padding: 10px;
}

li {
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    width: 100%;
}

li>a {
    color: #000;
    display: block;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: -10px 0;
    background-repeat: no-repeat;
    -webkit-background-size: 10px 100%;
    -moz-background-size: 10px 100%;
    -ms-background-size: 10px 100%;
    -o-background-size: 10px 100%;
    background-size: 10px 100%;
}

li>a * {
    pointer-events: none;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-size:14px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;

}

h1 {
    font-size: 18px;
    padding: 20 0 0 0;
    margin: 0px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.employee-image {
    float:left;
    margin:10px;
    width:100px;
    height:100px;
}